@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* login */
.auth-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form-control {
  border: solid 1px;
  border-radius: 4px;
  margin: 0 4px;
  padding: 0 4px;
}

.btn {
  border-radius: 4px;
  background: #bbb;
}

.map {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
}

/* search style */
.search-item {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

/* detail style */
.detail-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  padding: 1rem;
}

.detail-map {
  width: 100%;
  height: 50vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  overflow-y: hidden;
}

/* footer navi bar style */
.footer-navi {
  background: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
