@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.auth-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form-control {
  border: solid 1px;
  border-radius: 4px;
  margin: 0 4px;
  padding: 0 4px;
}

.btn {
  border-radius: 4px;
  background: #bbb;
}
